.simulation-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0px 8px 0px;
}

.input-text {
  width: 50%;
  height: 25px;
}

.input-select {
  width: 50.5%;
  height: 25px;
}

.pergunta-riscos {
  width: 100%;
  display: block;
  margin: 20px 0;
}

.responsta-label {
  margin-left: 15px;
  display: inline-block;
  height: 16px;
}

.radio-input {
  margin: auto 6px;
}

fieldset {
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
}

.autorizacao {
  font-size: 0.9rem;
}

.btn-form {
  max-height: fit-content;
  text-transform: uppercase;
  max-width: 220px;
  font-size: 16px;
  background-color: rgb(43,132,136);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 8px 15px 15px 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
  cursor: pointer;
}