header {
  background-color: rgb(43,132,136);
  display: flex;
  padding: 0 4px;
}

.logo-container {
  background-clip: border-box;
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: cover;
  height: 15vh;
  width: 15vh;
}

.nav-button {
  background-color: black;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.486);
  padding: 4px 10px;
}

.nav-button:hover {
  filter: brightness(1.75);
  transform: scale(1.2);
}

nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

a {
  background-clip:text;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 10%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 90%,
    #462523 100%
  );
  color:transparent;
   font-family: 'Times New Roman',serif;
   font-size: 16px;
   font-weight: bold;
}

a:visited {
  background-clip:text;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 10%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 90%,
    #462523 100%
  );
  color:transparent;
   font-family: 'Times New Roman',serif;
   font-size: 16px;
   font-weight: bold;
}
