* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
  min-height: max-content;
  /* background-color: indigo;
  padding: 0 30px; */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}